{% extends 'base.html.twig' %}

{% block title %}Tasks{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <table>
        {% for task in tasks %}
            <tr>
                <td><a href="{{ path('task_delete', {'id': task.id}) }}">X</a> </td>
                <td><a href="{{ path('task_id', {'id': task.id}) }}">{{ task.dueDate|date('Y-m-d')}}</a></td>
                <td>{{ task.text }}</td>
            </tr>
        {% endfor %}
{#        <tr><td><a href="{{ path('task') }}">Nový...</a></td><td></td></tr>#}
    </table>
    <br><br>
    {{ form(form) }}
</div>
{% endblock %}
